<h3>Carrito</h3>
<h6>-----------------------</h6>
{{#each cartArray}}
    <div>
        <h5>Titulo: {{title}}</h5>
        <h5>Autor: {{author}}</h5>
        <h5>Precio: ${{price}}</h5>
        <h6>-----------------------</h6>
    </div>
{{/each}}