<div class="container-fluid my-5" style="max-width: 50rem;">
    <div class="jumbotron">

    <h1>LOGIN</h1>
    <br>
    <form class="form" action="/api/session/login" method="post" role="form" autocomplete="off">

        <div class="form-group m-2">
        <input id="email" name='email' placeholder="E-mail" class="form-control" type="text" required>
        </div>

        <div class="form-group m-2">
        <input id="password" name='password' placeholder="Contraseña" class="form-control" type="password" required>
        </div>

        <div class="form-group">
        <input class="btn btn-success my-3" type="submit" value="Login">
        </div>
    </form>
    <button class="btn" onclick="location.href='/api/session/githubcallback'"><img src="/icons/github.svg" alt="github_icon"></button>

    <hr>
    <div class="text-left">
        <button class="btn btn-success my-3" onclick="location.href = '/api/session/register'">Registrate</button>
        <button class="btn btn-success my-3" onclick="location.href = '/api/session/restore'">Restaurar contraseña</button>
    </div>
    </div>
</div>